@import "app/styles/stylus-mq.styl"
@import "app/styles/styleguide"

body
	position: relative
	font-family: $ff-roboto-regular
	font-size: 16px
	color: $text-lighter
	background-color: $grey-lighter

#header
	font-family: $ff-roboto-condensed-bold
	color: $primary

#main-container
	font-family: $ff-roboto-black-italic
	color: $primary

#quote
	font-family: $ff-roboto-regular
	color: $primary
