@import "./stylus-mq"
@import "./styleguide"

/*
 * Map full spot popup photos styles
 */

#map-full-spot-popup-main-photos
	display: block
	padding: 3rem

.map-full-spot-popup-main-photo
	max-width: 100%

	&-container
		position: relative
		width: 100% 
		display: block
		border-radius: 0 0 1rem 1rem
		margin: 0

	&-author
		position: absolute
		left: 1rem
		bottom: 1rem
		font-family: $ff-roboto-condensed-bold
		font-size: $fs-medium
		color: $white
		text-transform: uppercase


