# OS or Editor folders
.DS_Store
Thumbs.db

# NPM packages folder.
node_modules/

.next/
/yarn-error.log

/.npmrc
/.env*
/.nova
/public/dist

.vercel
/.pnpm-store

.turbo
.env
dist

/krak_dump.sql
/packages/contracts/tsconfig.tsbuildinfo
/apps/manager/next-env.d.ts
/apps/web/next-env.d.ts
/apps/web/tsconfig.tsbuildinfo
