@import "../stylus-mq"
@import "../styleguide"


#map-navigation
	position: absolute
	top: 4rem
	left: 1.5rem
	display: flex
	align-items: center
	padding: 0.5rem
	background-color: $grey-900
	border: 1.5px solid $grey-800
	border-radius: 0.25rem
	z-index: 990
	
	&-link-home
		display: flex
		padding: 0 1rem

		& svg
			width: 3rem
			fill: $white
