@import "../stylus-mq"
@import "../styleguide"


#map-navigation
	position: absolute
	top: 4rem
	left: 1.5rem
	display: flex
	align-items: center
	padding: 0.5rem
	background-color: $grey-900
	border: 1.5px solid $grey-800
	border-radius: 0.25rem
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	z-index: 990
	
	&-link-home
		margin: -0.125rem 0
		padding: 0 1rem

		& svg
			display: block
			width: 3.5rem
			fill: $white
