/*
 * Color scheme
*/

// Spots
$street = #E34444
$streetDark = #8A2828

$park = #50D4F1
$parkDark = #28798A

$shop = #5CE945
$shopDark = #368A28

$private = #E7D533
$privateDark = #8A8128

$diy = #D55CFF
$diyDark = #71288A

$rip = #ffffff
$ripMid = #CDCDCD
$ripDark = #8C8C8C
