  <!DOCTYPE html>
<html>
<head>
  <title>Bestspot Barcelona</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bestspotbarcelona.css">
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
  <link rel="icon" type="image/ico" href="/static/images/favicon.ico" />
</head>
<body>
<body>
	<header>
		<p>Rad Barcelona. What is your favorite skate spot out here? The one spot that makes Barcelona the legendary, unmissable skate destination in Europe, and one of the absolute best cities for street skating worldwide. Let's get your votes in!! We wanna hear what you think!</p>
		<!-- <form>
			
			<input type="email" placeholder="email"/><input type="submit" value="Send"/>
		</form> -->
		<form action="//krack.us7.list-manage.com/subscribe/post?u=1a7343504d5c1aecbe3587b57&amp;id=0e5f80af25" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
				<span class="vote-text">Vote, and stay tuned!</span>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_1a7343504d5c1aecbe3587b57_0e5f80af25" tabindex="-1" value=""></div>
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</form>

	</header>
	<div id="widget">
		<a class="rnkrw-widget" data-rnkrw-id="1970227" data-rnkrw-format="grid" data-rnkrw-rows="999" data-rnkrw-footer-bgcolor="000000"  href="http://www.ranker.com" target="_blank">Ranker - Top 10 Lists and More</a><script id="rnkrw-loader" type="text/javascript" async src="//widget.ranker.com/static/rnkrw2.js"></script>
	</div>
	<div id="credit">
		<p><em>Thanks to <a href="http://www.c-reel.com/" target="_blank">Cyril Saulnier a.k.a C-reel</a> for the picture</em></p>
	</div>
	<footer>
		<a href="http://mag.skatekrak.com" target="_blank"><strong>MAG</strong></a>
		<a href="https://www.facebook.com/skatekrak" target="_blank"><strong>FACEBOOK</strong></a>
    	<a href="https://twitter.com/skatekrak" target="_blank"><strong>TWITTER</strong></a>
    	<a href="http://instagram.com/skate_krak" target="_blank"><strong>INSTAGRAM</strong></a>
	</footer>
	
</body>
</html>