<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/startup/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/startup/fontawesome/css/font-awesome.min.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/startup/common-files/css/animations.css">
        <link rel="stylesheet" href="/static/css/style.css">
        
        <title>Krak Skateboarding, Inc</title>
    </head>

    <body ng-app="skatekrak">
        <div class="page-wrapper">
            <header class="header-23">
    <div class="mask">&nbsp;</div>
    <div class="popup-video">
        <iframe id="pPlayer" src="http://player.vimeo.com/video/80282064?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="https://www.instagram.com/skate_krak" target="_blank">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UC1o-dFTrXKLa6Ov8GiysF7g" target="_blank">Youtube</a></li>
                        <li><a href="https://www.facebook.com/skatekrak">Facebook</a></li>
                        <li><a href="http://skatekrak.tumblr.com/">Tumblr</a></li>
                        <li><a href="https://www.twitter.com/skatekrak">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="header-23-sub bg-midnight-blue">
    <div id="bgVideo" class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hero-unit">
                    <strong>Krak Studios</strong>
                    <a class="btn-play"  id="play" href="#">Play</a>
                    <span>Experiments for skateboarders</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects-2">
    
    <div class="project-1 v-center">
        <div><!--v-center-->
            <a href="http://box.skatekrak.com" target="_blank">
            <div class="container">
                <h1>KrakBox</h1>
                <p>skateboarding monthly subscription box</p>
            </div>
            </a>
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>

    <div class="project-1 v-center">
        <div><!--v-center-->
            <!-- <div class="container"> -->
                <table class="container">
                    <tr>
                        <td>
                            <h1>KrakApp</h1>
                            <p>Social network for skateboarders</p>
                        </td>
                        <td>
                            <a href="https://itunes.apple.com/us/app/krak/id916474561"><img src="/static/images/appstore.png"></a>
                        </td>
                    </tr>
                </table>
            <!-- </div> -->
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>

    <div class="project-1 v-center">
        <div><!--v-center-->
            <a href="http://map.skatekrak.com" target="_blank">
            <div class="container">
                <h1>KrakMap</h1>
                <p>The map from the app in your web browser</p>
            </div>
            </a>
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>

    <div class="project-1 v-center">
        <div><!--v-center-->
            <a href="http://mag.skatekrak.com">
            <div class="container">
                <h1>Krak Mag'</h1>
                <p>Our online magazine</p>
            </div>
            </a>
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>
</section>
<section class="crew-2">
    <div class="container">
        <h3>The team</h3>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/vladimir-k.png" alt=""></div>
                        <div class="name">Mathilde Baillet</div>
                        <div class="position">Operations</div>
                    </div>
                    <div class="info">
                        Regular
                        <div class="social-btns">
                            <a href="mailto:mb@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://www.twitter.com/m4th1ld">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                            <a href="https://www.instagram.com/mathrtw">
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/sergey-s.png" alt=""></div>
                        <div class="name">Maxime Cattet</div>
                        <div class="position">Founding Team</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:m@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://twitter.com/maximetrap">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                            <a href="http://github.com/johnoppenheimer" style="font-size: 19px">
                                <i class="fa fa-github"></i>
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/adrian-v.png" alt=""></div>
                        <div class="name">Romain Coste</div>
                        <div class="position">Box</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:r@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://twitter.com/mmmelk">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                            <a href="https://instagram.com/mmmelk">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/edvard-k.png" alt=""></div>
                        <div class="name">Kevin Strazsburger</div>
                        <div class="position">Founder</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:k@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://instagram.com/k7vin">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                            <a href="https://twitter.com/k7vin">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/oxana-n.png" alt=""></div>
                        <div class="name">Hokia Lim</div>
                        <div class="position">Media</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:h@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://instagram.com/yozillasays">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                            <a href="https://twitter.com/yozillasays">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/tatiana-y.png" alt=""></div>
                        <div class="name">Romain Paget</div>
                        <div class="position">Design</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:rp@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://www.instagram.com/pagetromain">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/vladimir-k.png" alt=""></div>
                        <div class="name">Simon Grassart</div>
                        <div class="position">Content</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:s@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/sergey-s.png" alt=""></div>
                        <div class="name">Felix Baillet</div>
                        <div class="position">Community</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:f@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="http://instagram.com/felix_baillet">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                            <a href="https://twitter.com/FelixBayet">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/adrian-v.png" alt=""></div>
                        <div class="name">You</div>
                        <div class="position"></div>
                    </div>
                    <div class="info">
                        ?

                        <div class="social-btns">
                            <a href="mailto:hey@skatekrak">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/.container-->
</section>

<footer class="footer-2 bg-midnight-blue">
    <div class="container">
        <div class="social-btns pull-right">
            <a href="mailto:hey@skatekrak.com">
                <div class="fui-mail"></div>
                <div class="fui-mail"></div>
            </a>
            <a href="https://www.instagram.com/skatekrak" target="_blank">
                <div class="fui-instagram"></div>
                <div class="fui-instagram"></div>
            </a>
            <a href="https://www.youtube.com/channel/UC1o-dFTrXKLa6Ov8GiysF7g" target="_blank">
                <div class="fui-youtube"></div>
                <div class="fui-youtube"></div>
            </a>
            <a href="https://www.facebook.com/skatekrak" target="_blank">
                <div class="fui-facebook"></div>
                <div class="fui-facebook"></div>
            </a>
            <a href="http://skatekrak.tumblr.com/" target="_blank">
                <div class="fui-tumblr"></div>
                <div class="fui-tumblr"></div>
            </a>
            <a href="https://www.twitter.com/skatekrak" table="_blank">
                <div class="fui-twitter"></div>
                <div class="fui-twitter"></div>
            </a>
        </div>
        <div class="additional-links">
            Be sure to take a look at our <a href="#">Privacy Policy</a> - Made w/ bones b/w L.A and Berlin
        </div>
    </div>
</footer>            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="/startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="/startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="/startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="/startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="/startup/common-files/js/modernizr.custom.js"></script>
            <script src="/startup/common-files/js/page-transitions.js"></script>
            <script src="/startup/common-files/js/easing.min.js"></script>
            <script src="/startup/common-files/js/jquery.svg.js"></script>
            <script src="/startup/common-files/js/jquery.svganim.js"></script>
            <script src="/startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="/startup/common-files/js/froogaloop.min.js"></script>
            <script src="/startup/common-files/js/startup-kit.js"></script>

        </div>
    </body>
</html>
