<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/startup/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/startup/fontawesome/css/font-awesome.min.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/startup/common-files/css/animations.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/ico" href="/static/images/favicon.ico" />
        
        <meta property="og:description" content="KRAK will turn cities around the world into a real life video game. Simply turn your hardware on, hit the streets, and earn points for the tricks you land and the spots you do them at."/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://skatekrak.com"/>
        <meta property="og:title" content="KRAK will turn cities around the world into a real life video game. Simply turn your hardware on, hit the streets, and earn points for the tricks you land and the spots you do them at."/>
        <meta property="og:image" content="http://skatekrak.com/static/images/website_screenshot.png"/>

        <title>Krak Skateboarding, Inc</title>
    </head>

    <body>
        <div id="boxes">
    <div id="dialog" class="window_modal">
      <div class="topModal">
        <a href="#" class="close_modal">X</a>
      </div>
      <p>Krak'N will turn cities around the world into a real life video game. Simply turn your hardware on, hit the streets, and earn points for the tricks you land and the spots you do them at.</p>
      <form action="//skatekrak.us7.list-manage.com/subscribe/post?u=1a7343504d5c1aecbe3587b57&amp;id=c728cbf724" method="post">
        <input type="email" placeholder="email" name="EMAIL"/><input type="submit" value="Send"/>
      </form>
    </div>
    <div id="mask"></div>
  </div>
        <div class="page-wrapper">
            <header class="header-23">
    <div class="mask">&nbsp;</div>
    <div class="popup-video">
        <iframe id="pPlayer" width="480" height="360" src="https://www.youtube-nocookie.com/embed/xF4ahIXD0Nc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="https://www.instagram.com/skate_krak" target="_blank"><div class="fa fa-instagram"></div></a></li>
                        <li><a href="https://www.youtube.com/channel/UC1o-dFTrXKLa6Ov8GiysF7g" target="_blank"><div class="fa fa-youtube"></div></a></li>
                        <li><a href="https://www.facebook.com/skatekrak" target="_blank"><div class="fa fa-facebook"></div></a></li>
                        <li><a href="http://skatekrak.tumblr.com/" target="_blank"><div class="fa fa-tumblr"></div></a></li>
                        <li><a href="https://www.twitter.com/skatekrak" target="_blank"><div class="fa fa-twitter"></div></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="header-23-sub bg-midnight-blue">
    <div id="bgVideo" class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hero-unit">
                    <strong>Krak Studios</strong>
                    <a class="btn-play"  id="play" href="#">Play</a>
                    <span>Experiments for skateboarders</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects-2">
    
    <div class="project-1 project-krakbox v-center">
        <div><!--v-center-->
            <a href="http://box.skatekrak.com" target="_blank">
            <div class="container">
                <h1>KrakBox</h1>
                <p>Skateboarding monthly subscription box</p>
            </div>
            </a>
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>

    <div class="project-1 project-krakapp v-center">
        <div><!--v-center-->
            <!-- <div class="container"> -->
                <table class="container">
                    <tr>
                        <td>
                            <h1>KrakApp</h1>
                            <p>Social network for skateboarders</p>
                        </td>
                        <td>
                            <a href="https://itunes.apple.com/us/app/krak/id916474561" target="_blank"><img src="/static/images/appstore.png"></a><br/>
                            <a href="https://play.google.com/store/apps/details?id=project.com.krak" target="_blank"><img src="/static/images/playstore.png"></a>
                        </td>
                    </tr>
                </table>
            <!-- </div> -->
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>

    <div class="project-1 project-krakmap v-center">
        <div><!--v-center-->
            <a href="http://map.skatekrak.com" target="_blank">
            <div class="container">
                <h1 style="color: black">KrakMap</h1>
                <p style="color: black">the skate map updated every day right in your browser</p>
            </div>
            </a>
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>

    <div class="project-1 project-krakmag v-center">
        <div><!--v-center-->
            <a href="http://mag.skatekrak.com" target="_blank">
            <div class="container">
                <h1 style="color: black">KrakMag'</h1>
                <p style="color: black">Our online magazine</p>
            </div>
            </a>
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>

    <div class="project-1 project-tracker v-center">
        <div><!--v-center-->
            <a href="#dialog" name="modal">
            <div class="container">
                <h1>Krak'N</h1>
                <p>Skateboard tracker</p>
            </div>
            </a>
            <!--/.container-->
        </div>
        <!--/v-center-->
    </div>
</section>
<section class="crew-2">
    <div class="container">
        <h3>Staff</h3>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/mathilde.jpg" alt=""></div>
                        <div class="name">Mathilde Baillet</div>
                        <div class="position">Operations</div>
                    </div>
                    <div class="info">
                        Goofy
                        <div class="social-btns">
                            <a href="mailto:mb@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://www.twitter.com/m4th1ld" target="_blank">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                            <a href="https://www.instagram.com/mathrtw" target="_blank">
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/maxime.jpg" alt=""></div>
                        <div class="name">Maxime Cattet</div>
                        <div class="position">Founding Team</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:m@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://twitter.com/maximetrap" target="_blank">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                            <a href="http://github.com/johnoppenheimer" target="_blank">
                                <i class="fa fa-github"></i>
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/romain.jpg" alt=""></div>
                        <div class="name">Romain Coste</div>
                        <div class="position">Box</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:r@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://twitter.com/mmmelk" target="_blank">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                            <a href="https://instagram.com/mmmelk" target="_blank">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/kevin.jpg" alt=""></div>
                        <div class="name">Kevin Strazsburger</div>
                        <div class="position">Founder</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:k@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://instagram.com/k7vin" target="_blank">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                            <a href="https://twitter.com/k7vin" target="_blank">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/hokiat.jpg" alt=""></div>
                        <div class="name">Hokiat Lim</div>
                        <div class="position">Media</div>
                    </div>
                    <div class="info">
                        Goofy

                        <div class="social-btns">
                            <a href="mailto:h@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://instagram.com/yozillasays" target="_blank">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                            <a href="https://twitter.com/yozillasays" target="_blank">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/romainpaget.jpg" alt=""></div>
                        <div class="name">Romain Paget</div>
                        <div class="position">Design</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:rp@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="https://www.instagram.com/pagetromain" target="_blank">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-position: top"><img src="startup/common-files/img/crew/simon.jpg" alt=""></div>
                        <div class="name">Simon Grassart</div>
                        <div class="position">Content</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:s@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-position: top"><img src="startup/common-files/img/crew/felix.jpg" alt=""></div>
                        <div class="name">Felix Baillet</div>
                        <div class="position">Community</div>
                    </div>
                    <div class="info">
                        Regular

                        <div class="social-btns">
                            <a href="mailto:f@skatekrak.com">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                            <a href="http://instagram.com/felix_baillet" target="_blank">
                                <div class="fa fa-instagram"></div>
                                <div class="fa fa-instagram"></div>
                            </a>
                            <a href="https://twitter.com/FelixBayet" target="_blank">
                                <div class="fa fa-twitter"></div>
                                <div class="fa fa-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/profile1.jpg" alt=""></div>
                        <div class="name">You</div>
                        <div class="position"></div>
                    </div>
                    <div class="info">
                        ?

                        <div class="social-btns">
                            <a href="mailto:hey@skatekrak">
                                <div class="fa fa-envelope-o"></div>
                                <div class="fa fa-envelope-o"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/.container-->
</section>

<footer class="footer-2 bg-midnight-blue">
    <div class="container">
        <div class="social-btns pull-right">
            <a href="mailto:hey@skatekrak.com">
                <div class="fa fa-envelope-o"></div>
                <div class="fa fa-envelope-o"></div>
            </a>
            <a href="https://www.instagram.com/skate_krak" target="_blank">
                <div class="fa fa-instagram"></div>
                <div class="fa fa-instagram"></div>
            </a>
            <a href="https://www.youtube.com/channel/UC1o-dFTrXKLa6Ov8GiysF7g" target="_blank">
                <div class="fa fa-youtube"></div>
                <div class="fa fa-youtube"></div>
            </a>
            <a href="https://www.facebook.com/skatekrak" target="_blank">
                <div class="fa fa-facebook"></div>
                <div class="fa fa-facebook"></div>
            </a>
            <a href="http://skatekrak.tumblr.com/" target="_blank">
                <div class="fa fa-tumblr"></div>
                <div class="fa fa-tumblr"></div>
            </a>
            <a href="https://www.twitter.com/skatekrak"  target="_blank">
                <div class="fa fa-twitter"></div>
                <div class="fa fa-twitter"></div>
            </a>
        </div>
        <div class="additional-links">
            Be sure to take a look at our <a href="#">Privacy Policy</a> - Made w/ bones b/w L.A and Berlin
        </div>
    </div>
</footer>            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="/startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="/startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="/startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="/startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="/startup/common-files/js/modernizr.custom.js"></script>
            <script src="/startup/common-files/js/page-transitions.js"></script>
            <script src="/startup/common-files/js/easing.min.js"></script>
            <script src="/startup/common-files/js/jquery.svg.js"></script>
            <script src="/startup/common-files/js/jquery.svganim.js"></script>
            <script src="/startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="/startup/common-files/js/froogaloop.min.js"></script>
            <script src="/startup/common-files/js/startup-kit.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {  
                  //select all the a tag with name equal to modal
                  $('a[name=modal]').click(function(e) {
                    console.log("Click on Krak'N");
                    //Cancel the link behavior
                    e.preventDefault();
                    
                    //Get the A tag
                    var id = $(this).attr('href');
                  
                    //Get the screen height and width
                    var maskHeight = $(document).height();
                    var maskWidth = $(window).width();
                  
                    //Set heigth and width to mask to fill up the whole screen
                    $('#mask').css({'width':maskWidth,'height':maskHeight});
                    
                    //transition effect   
                    $('#mask').fadeIn(1000);  
                    $('#mask').fadeTo("slow",0.8);  
                  
                    //Get the window height and width
                    var winH = $(window).height();
                    var winW = $(window).width();
                              
                    //Set the popup window to center
                    $(id).css('top',  winH/2-$(id).height()/2);
                    $(id).css('left', winW/2-$(id).width()/2);
                  
                    //transition effect
                    $(id).fadeIn(2000); 
                  
                  });
                  
                  //if close button is clicked
                  $('.window_modal .close_modal').click(function (e) {
                    //Cancel the link behavior
                    e.preventDefault();
                    
                    $('#mask').hide();
                    $('.window_modal').hide();
                  });   
                  
                  //if mask is clicked
                  $('#mask').click(function () {
                    $(this).hide();
                    $('.window_modal').hide();
                  });     

                  $(window).resize(function () {
                   
                    var box = $('#boxes .window_modal');
                 
                        //Get the screen height and width
                        var maskHeight = $(document).height();
                        var maskWidth = $(window).width();
                      
                        //Set height and width to mask to fill up the whole screen
                        $('#mask').css({'width':maskWidth,'height':maskHeight});
                               
                        //Get the window height and width
                        var winH = $(window).height();
                        var winW = $(window).width();

                        //Set the popup window to center
                        box.css('top',  winH/2 - box.height()/2);
                        box.css('left', winW/2 - box.width()/2);
                   
                  });
                  
                });
            </script>
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-54975174-1', 'auto');
            ga('send', 'pageview');

            </script>
        </div>
    </body>
</html>
