body{
	background-color: black;
	font-family: "Avenir";
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

body img{
	margin-bottom: 100px;
}

footer{
	/*position: fixed;*/
	bottom: 20px;
	width: 100%;
}

footer a{
	font-family: "Avenir";
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:600px;
  height:300px;
  display:none;
  z-index:9999;
  padding:20px;
  background-color: white;
  color: black;
}

#boxes .topModal{
	text-align: right;
}

#boxes a{
	color : grey;
	font-family: "Avenir";
	text-decoration: none;
	font-size: 18px;
}

#boxes p{
	font-family: "Avenir";
	margin-right: 20px;
	margin-left: 20px;
}

#boxes input[type="email"]{
	width: 400px;
}

#boxes input[type="submit"]{
	background-color: white;
	color: black;
	border: solid 0px #ffffff;
}

#boxes input{
	height: 40px;
	font-family: "Avenir";
	font-size: 20px;
	margin-top: 60px;
}
