@import "./stylus-mq"
@import "./styleguide"

*
	-webkit-overflow-scrolling: touch
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

body
	position: relative
	font-family: $ff-roboto-regular
	font-size: 16px
	line-height: 1.25
	color: $text-lighter
	background-color: $grey-100

button
	font-family: $ff-roboto-regular
	color: $grey-800

.scroll-container
	max-height: 100vh
	overflow: auto

#page-container
	display: flex
	flex-direction: column
	min-height: 100vh

	+mq($from: "medium")
		flex-direction: row
		max-height: 100vh

#main
	&-container
		position: relative
		flex-grow: 1
		display: flex
		flex-direction: column
		color: $text-dark

		+mq($from: "medium")
			height: 100vh
			overflow: auto


/* Custom scrollbqr -> SimpleBar */
.simplebar-track.simplebar-vertical
	width: 0.5rem

.simplebar-scrollbar:before
	left: 0
	right: 0
	background: $grey-800
