@import "./stylus-mq"
@import "./styleguide"

/* NEWS STYLES */

/* Article item */
.news-article-club
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 12rem
	height: 100%
	padding: 1.5rem
	background-color: $grey-800
	background: url('/images/club-presentation-bg.jpg')
	background-size: cover
	background-position: center
	border-radius: 0.25rem

	&-illustration
		max-width: 55%
		margin: 0 auto .5rem

		+mq($from: "tiny")
			max-width: 35%

		+mq($from: "small")
			max-width: 65%

		+mq($from: "medium")
			max-width: 70%
			margin: auto

		+mq($from: "large")
			max-width: 80%
			margin: auto

	&-cta
		padding: .5rem 1rem
		font-family: $ff-roboto-bold
		text-align: center
		color: $white
		border-radius: 0.25rem
		background-color: $primary
		box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25)
		transition: .3s

		&:hover
			background-color: $primaryDark

		&-container
			display: flex
			flex-direction: column

			+mq($from: "tiny")
				margin: 0 auto

			+mq($from: "small")
				margin: 0

		&-text
			margin-bottom: .75rem
			font-family: $ff-roboto-bold
			text-align: center
			color: $grey-100

			+mq($from: "medium")
				margin-bottom: 1rem

.news-article
	position: relative
	margin-bottom: 2rem

	&:last-child
		margin-bottom: 0

	&-share
		position: absolute
		top: .5rem
		left: 1.5rem
		display: flex
		align-items: center
		transition: .2s

		&:hover
			opacity: 1

		+mq($from: "medium")
			opacity: 0

		& .react-share__ShareButton
			width: 1.5rem
			height: 1.5rem
			margin-right: .5rem
			cursor: pointer

			&:last-child
				margin-right: 0

			& circle
				transition: .2s

			&:hover
				& circle
					fill: $grey-900

	&-link
		&:hover
			& .news-article-cover-img
				transform: scale(1.03)

			& + .news-article-share
				opacity: 1

	&-cover-img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: $grey-200
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		transition: .3s

		&-container
			position: relative
			padding-top: 45%
			margin-bottom: 1rem
			border-radius: 0.25rem
			overflow: hidden

			+mq($from: "small")
				padding-top: 56.25%

			+mq($from: "medium")
				padding-top: 75%

	&-title
		font-family: $ff-roboto-black
		color: $grey-800

	&-details
		display: flex
		margin: .5rem 0 1rem
		font-size: $fs-smaller
		color: $grey-400

		&-source
			display: flex

			&-link
				display: flex

				&:hover .news-article-details-source-name
					color: $grey-800

			&-name
				color: $grey-600
				transition: .2s

			&-logo
				width: 1rem
				height 1rem
				margin-left: .2rem
				margin-right: .2rem
				background-color: green
				border-radius: 100%

	&-desc
		font-size: $fs-small
		line-height: 1.4
		color: $grey-600

	/* ARTICLE MODAL */
	&-modal
		+mq($from: "small")
			max-width: 350px

		&-container
			padding: 1.5rem

		&-close-button
			position: fixed
			cursor: pointer
			
			+mq($from: "small")
				top: 2rem
				right: 2rem

			& svg
				fill: $white

		&-nothing
			font-size: $fs-medium
			color: $grey-800
			text-align: center

			+mq($from: "small")
				max-width: 350px
			
			&-img
				max-width: 100%
				margin: -1rem 0 1rem

			& p:last-child
				margin-top: 1rem

		&-read-more
			margin-top: 1rem
			padding: .5rem 1rem !important
			font-family: $ff-roboto-regular !important
			font-size: $fs-small
			color: $white
			background-color: $grey-900

			&:hover
				background-color: $black

		& .news-article-cover-img-container
			margin: -1.5rem -1.5rem 1rem
			padding-top: 56.25%
			border-radius: .25rem .25rem 0 0

		& .news-article-cover-img
			transform: scale(1.01)

		& .news-article-share
			top: 1.1rem



#news
	&-container
		width: 100%

	&-articles
		&-no-content
			margin: 4rem auto 0
			font-size: $fs-small
			color: $grey-600
			text-align: center

			&-title
				margin-bottom: .5rem
				font-family: "georgia", serif
				font-weight: 700
				font-size: $fs-larger
				color: $grey-400

		&-loader
			display: flex
			flex-direction: column
			align-items: center
			margin: auto
			
			& svg
				fill: $grey-600

		&-no-more
			margin: 4rem 0
			text-align: center
