/*
 * Color scheme
*/
$primaryLight = #FF5652
$primary = #FF3D38
$primaryDark = #B22B27

$secondaryLight = #70BBFF
$secondary = #56AEFF
$secondaryDark = #3C7AB2

$error = #FF5B4D
$success = #57D92B

$white = #ffffff
$black = #000000

$surface-grey-light = #F2F2F2
$surface-divider = #E5E5E5
$surface-shadow = 0px 4px 32px rgba(0, 0, 0, 0.05)

$grey-100 = #EBEBEB
$grey-200 = #CCCCCC
$grey-300 = #B2B2B2
$grey-400 = #999999
$grey-500 = #808080
$grey-600 = #666666
$grey-700 = #4D4D4D
$grey-800 = #333333
$grey-900 = #1F1F1F

$text-lighter = #F2F2F2
$text-light = #B0B0B0
$text-dark = $grey-800

$disableBackground = $grey-400
$disableText = $grey-100


/*
 * Fonts scheme
*/

/* Family */
$ff-roboto-condensed-regular = 'roboto-condensed-regular', 'helvetica', 'Arial', sans-serif
$ff-roboto-condensed-bold = 'roboto-condensed-bold', 'helvetica', 'Arial', sans-serif
$ff-roboto-regular = 'roboto-regular', 'helvetica', 'Arial', sans-serif
$ff-roboto-bold = 'roboto-bold', 'helvetica', 'Arial', sans-serif
$ff-roboto-black = 'roboto-black', 'helvetica', 'Arial', sans-serif
$ff-roboto-black-italic = 'roboto-black-italic', 'helvetica', 'Arial', sans-serif
$ff-dirty-brush = 'dirty-brush', 'helvetica', 'Arial', sans-serif

/* Size */
$fs-smallest = 0.625rem
$fs-smaller = 0.75rem
$fs-small = 0.875rem
$fs-regular = 1rem
$fs-medium = 1.125rem
$fs-large = 1.25rem
$fs-larger = 1.5rem
$fs-larger2 = 2rem
$fs-largest = 2.25rem
$fs-huge = 2.75rem

/* Box shadow */
$box-shadow-1 = 0px 4px 8px 0px rgba(0,0,0,0.25)


/* Layout */
$header-width-medium = 250px
$header-width-large = 300px

$page-padding-top = 2rem
$page-padding-top-medium = 4rem

$page-padding-bottom = 2rem
