@import "../stylus-mq"
@import "../styleguide"


#custom-map-navigation
	position: absolute
	top: 1.5rem
	left: 1.5rem
	display: flex
	align-items: center
	min-width: 20rem
	color: $grey-400
	background-color: $grey-900
	border: 1.5px solid $grey-800
	border-radius: 0.25rem
	box-shadow: $shadowSurface
	z-index: 1000

	&-close
		display: inline-flex
		align-items: center
		padding: 0.75rem 1.25rem
		font-family: $ff-roboto-bold
		font-size: $fs-regular
		transition: .075s

		& svg
			width: 1.25rem
			margin-right: .5rem
			fill: $grey-400
			transform: rotate(180deg)

		&:hover
			color: $grey-100

			& svg
				fill: $grey-100

	& .divider-vertical
		height: 1.5rem

	&-main
		display: flex
		align-items: center
		padding: 0.75rem 1.5rem

		&-logo
			max-width: 100%
			margin: auto

			&-container
				display: flex
				width: 2.5rem
				height: 2.5rem
				margin-right: 1rem
				border-radius: 0.125rem
				overflow: hidden


		&-container
			flex-grow: 1
			display: flex
			align-items: baseline

		&-title
			min-width: 12rem
			max-width: 16rem
			margin-right: auto
			font-family: $ff-roboto-condensed-bold
			font-size: $fs-larger
			color: $grey-100
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

		& .custom-map-navigation-link
			display: flex
			align-items: center
			font-size: $fs-regular
			color: $grey-300

			&:first-of-type
				margin: 0 1rem 0 1rem

			& svg
				margin-top: 0.125rem
				width: 1.25rem
				fill: $grey-400
				transition: .075s

			&:hover
				color: $grey-200

				& svg
					fill: $grey-200

			&--open, &--open:hover
				font-family: $ff-roboto-bold
				color: $grey-100

				& svg
					fill: $grey-100
					transform: rotate(90deg)

	&-extension
		position: absolute
		top: 4rem
		right: 0
		left: 6.5rem
		background-color: $grey-900
		border: 1.5px solid $grey-800
		border-radius: 0.25rem
		box-shadow: $shadowSurface

		&-about
			padding: 1.5rem

			&-header
				display: flex
				align-items: center
				justify-content: space-between
				margin-bottom: 1rem

				& h3
					font-family: $ff-roboto-condensed-bold
					font-size: $fs-large
					color: $grey-100

			&-desc
				white-space: pre-wrap

		&-spots
			&-search
				display: flex
				justify-content: space-between
				align-items: center
				padding: 0.75rem 1rem
				border-bottom: 1.5px solid $grey-800

				&-input
					width: 100%
					font-family: $ff-roboto-regular
					font-size: $fs-regular
					color: $grey-100
					font-weight: 600
					letter-spacing: 0.2px
					background-color: inherit

					&:placeholder
						color: $grey-400

				& svg
					min-width: 1.5rem
					fill: $grey-400

				& button
					display: flex
					margin-left: 1rem

