@import "./stylus-mq"
@import "./styleguide"

/* Checkout page styles */
#checkout
	&-header
		text-align: center
		border-bottom: 1px solid $grey-300

		&-title
			margin-bottom: 1rem
			font-family: $ff-roboto-black-italic
			font-size: $fs-largest

		&-subtitle
			font-family: $ff-roboto-bold
			font-size: $fs-small
			color: $grey-500

		&-price
			margin-bottom: .5rem
			font-family: $ff-roboto-black-italic
			font-size: $fs-larger
			color: $primary

			&-container
				margin: 3rem 0 2rem

	&-main
		position: relative

		&-back-to-shipping
			position: absolute
			top: -3rem
			color: $grey-400
			transition: .3s

			&:hover
				color: $grey-500

	&-contact
		margin-top: 2rem

		&-title
			margin-bottom: .5rem
			font-family: $ff-roboto-bold
			font-size: $fs-large
			color: $secondary

		&-mail
			display: block
			font-family: $ff-roboto-bold
			color: $secondary

#step3
	margin: auto
	padding: 2rem 0
	text-align: center

	&-image
		display: block
		width: 100%
		max-width: 200px
		margin: auto

		+mq($from: "medium")
			max-width: 330px

	&-title
		margin: 1rem 0 2rem
		font-family: $ff-roboto-black-italic
		font-size: $fs-larger

		+mq($from: "medium")
			margin: 2rem 0 3rem
			font-size: $fs-largest

		&-1
			margin-bottom: .5rem
			color: $primary

	&-support
		+mq($from: "medium")
			font-size: $fs-large

.checkout
	&-form
		margin-top: 4rem

		&-fields-container
			margin: 2rem 0 4rem

		&-submit-button
			width: 100%
			font-size: $fs-larger
			color: $disableText
			background-color: $disableBackground

			&--enable
				color: $white
				background-color: $primary

		&-img
			display: block
			max-width: 150px
			margin: 4rem auto 0
