@import "./stylus-mq"
@import "./styleguide"

/********
 ** Test fluid typography
 ********/
fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value)
	for $property in $properties
		{$property} $min-value
		
	@media screen and (min-width: $min-vw)
		for $property in $properties
			{$property} "calc(%s + %s * ((100vw - %s) / %s))" % ($min-value (remove-unit($max-value - $min-value)) $min-vw (remove-unit($max-vw - $min-vw)))

	@media screen and (min-width: $max-vw)
		for $property in $properties
			{$property} $max-value


/* Club presentation page styles */
#club
	padding-top: 0

	+mq($from: "small")
		padding-top: 2rem

	+mq($from: "medium")
		display: flex
		flex-direction: column
		padding-top: 4rem

	&-hero
		position: relative
		display: flex
		flex-direction: column
		justify-content: space-between
		height: calc(100vh - 115px)
		padding-bottom: 1rem
		margin-bottom: 6rem
		text-align: center
		color: $white

		+mq($from: "small")
			height : calc(100vh - 195px)

		+mq($from: "medium")
			height: calc(100vh - 4rem)

		&-logo
			width: 75%
			max-width: 325px
			margin: auto auto 0

			+mq($from: "medium")
				width: 27%
				min-width: 300px
				margin-top: 4rem

			+mq($from: "large")
				max-width: 500px
				margin: auto

		&-baseline
			display: none
			font-family: $ff-roboto-condensed-bold
			fluid-type(font-size, 20rem, 90rem, 0.875rem, 1.25rem)
			text-transform: uppercase
			color: $grey-100

			+mq($from: "medium")
				display: block

		&-title
			margin: 25% 0 12.5%
			fluid-type(margin-top, 20rem, 32rem, 2rem, 5rem)
			fluid-type(margin-bottom, 20rem, 32rem, 1rem, 3rem)
			font-family: $ff-roboto-condensed-regular
			fluid-type(font-size, 20rem, 90rem, 0.875rem, 1.125rem)
			text-transform: uppercase
			color: $grey-100

			+mq($from: "medium")
				margin-top: 4rem
				margin-bottom: 2rem

				+mq($from: "large")
					margin-top: 0

		&-cta
			margin: 0 auto auto
			fluid-type(margin-bottom, 20rem, 32rem, 2rem, 3rem)
			fluid-type(font-size, 20rem, 64rem, 1rem, 1.125rem)
			color: $grey-900
			text-transform: uppercase
			background-color: $white
			box-shadow: $box-shadow-1
			transition: .3s

			+mq($from: "medium")
				font-size: 1rem
			
			&:hover
				color: $white
				background-color: $primaryLight
				transform: scale(1.05)

		&-discover-more
			display: flex
			flex-direction: column
			align-items: center
			font-size: $fs-smaller
			text-transform: uppercase
			color: $grey-300

			&-arrow
				width: 1rem
				margin: 0 auto
				fill: $grey-300
				transform: rotate(90deg)
				animation: .6s infinite alternate bouncingArrow
				animation-timing-function: cubic-bezier(.34,.75,.72,.99)

		&-bg-image
			display: block
			height: 100%
			background-image: url("/static/images/club-presentation-bg.jpg")
			background-position: 20% 50%
			background-size: cover
			transform: scale(1.02)
			filter: blur(2px)

			+mq($from: "medium")
				background-position: center

			&-container
				position: absolute
				top: -10rem
				left: -2rem
				right: -2rem
				bottom: 0
				z-index: -1
				overflow: hidden

				+mq($from: "small")
					top: -14rem
					left: -8rem
					right: -8rem

				+mq($from: "medium")
					top: -4rem
					left: -4rem
					right: -4rem

			&-credits
				position: absolute
				left: calc(100% - 1rem)
				bottom: 2rem
				white-space: nowrap
				font-size: $fs-smallest
				color: $grey-400
				z-index: 1
				transform: rotate(-90deg)
				transform-origin: top left


/**
 * ANIMATIONS
**/
@keyframes bouncingArrow {
	from {
		transform: translateY(0) rotate(90deg)
	}
	to {
		transform: translateY(.5rem) rotate(90deg)
	}
}
