@import "./stylus-mq"
@import "./styleguide"

/* FORM STYLES */
.form
	/* Section */
	&-section
		&-title
			font-family: $ff-roboto-bold
			font-size: $fs-medium
			color: $secondary

		&-description
			margin-top: 2rem

	&-double-field-line
		display: flex

		& .form-element
			width: calc(50% - .25rem)

			&:first-child
				margin-right: .5rem

			&:last-child
				margin-left: .5rem

	/* Element */
	&-element
		margin-bottom: 1rem

		&:last-child
			margin-bottom: 0

		&-label
			margin-bottom: .5rem
			font-family: $ff-roboto-bold
			font-size: $fs-small
			color: $grey-500

		&-field
			&--error
				& input
					border: 1px solid $error
			
			&--success
				& input
					border: 1px solid #21E581

			& input
				height: 3rem
				width: 100%
				padding: .75rem 1rem
				font-family: $ff-roboto-regular
				font-size: $fs-regular
				background-color: $white
				border-radius: .25rem

				&::placeholder
					color: $grey-400

				&:focus
					border: 1px solid $secondary

			& .checkbox-container
				margin-top: 2rem

			& .StripeElement
				padding: .75rem 1rem
				background-color: $white

		&-error
			display: block
			margin-top: .5rem
			font-size: $fs-small
			color: $error
