@import "./stylus-mq"
@import "./styleguide"

.black
	background-color: $black

.hide
	display: none !important

.show
	display: block !important

.show-header
	display: flex !important

.burger-open
	& #header-top-burger-bar-top
		transform: rotate(-45deg) translateY(.5rem)

	& #header-top-burger-bar-bottom
		width: 100%
		transform: rotate(45deg) translateY(-.5rem)
