@import "./stylus-mq"
@import "./styleguide"

.black
	background-color: $black

.hide
	display: none !important

.show
	display: block !important

.show-header
	display: flex !important

.text-cap
	text-transform: uppercase

.text-primary
	color: $primary


/* LAYOUT */
.inner-page-container
	width: 100%
	padding-top: $page-padding-top
	padding-bottom: $page-padding-bottom

	+mq($from: "medium")
		padding-top: $page-padding-top-medium

.burger-open
	& #header-top-burger-bar-top
		transform: rotate(-45deg) translateY(.5rem)

	& #header-top-burger-bar-bottom
		width: 100%
		transform: rotate(45deg) translateY(-.5rem)
