@import "./stylus-mq"
@import "./styleguide"

*
	-webkit-overflow-scrolling: touch
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

body
	position: relative
	font-family: $ff-roboto-regular
	font-size: 16px
	line-height: 1.25
	color: $text-lighter
	background-color: $grey-100

button
	font-family: $ff-roboto-regular
	color: $grey-800

.scroll-container
	max-height: 100vh
	overflow: auto

#page-container
	display: flex
	flex-direction: column
	min-height: 100vh

	+mq($from: "medium")
		flex-direction: row
		max-height: 100vh

#main
	&-container
		position: relative
		flex-grow: 1
		display: flex
		flex-direction: column
		color: $text-dark

		+mq($from: "medium")
			height: 100vh
			overflow: auto

#header
	max-height: 100vh
	padding: 1.5rem 2rem 2rem
	z-index: 100

	+mq($from: "small")
		padding: 4.5rem 8rem 2rem

	+mq($from: "medium")
		display: flex
		flex-direction: column
		min-height: 100vh
		min-width: $header-width-medium
		max-width: $header-width-medium
		padding: 4rem 2rem 1rem
		background-color: $grey-900

	+mq($from: "large")
		min-width: $header-width-large
		max-width: $header-width-large

	&-top
		display: flex
		justify-content: space-between
		align-items: center

		&-logo
			width: 5rem

			+mq($from: "medium")
				width: 8rem
				margin: auto
				fill: white

		&-burger
			display: flex
			flex-direction: column
			align-items: flex-end
			width: 2rem

			+mq($from: "medium")
				display: none

			&-bar
				&-top
					width: 100%
					margin-bottom: .5rem

				&-bottom
					width: 60%

	&-nav
		&-container
			display: none
			flex-grow: 1
			flex-direction: column

			+mq($from: "medium")
				display: flex

		&-main
			margin: auto

			&-container
				display: flex
				flex-direction: column
				align-items: center

		&-subnav
			display: flex
			flex-direction: column
			align-items: center
			margin: 0 auto

			&-container
				display: flex
				justify-content: center

			& li
				list-style: none

			&-kraken
				display: flex
				align-items: center
				margin-bottom: 3rem

				+mq($from: "small")
					flex-direction: column

				+mq($from: "medium")
					margin-bottom: 2rem


				&-login
					position: relative
					display: flex
					flex-direction: column
					align-items: center
					font-size: $fs-medium

					&:hover
						& svg
							transform: scale(1.15) rotate(6deg)

					&:after
						top: inherit
						bottom: 8px

					& svg
						display: none
						margin-bottom: .5rem
						width: 4rem
						transition: .3s

						+mq($from: "small")
							display: block

				&-logout
					position: relative
					display: flex
					align-items: center
					margin-left: 1rem
					padding-left: 1rem
					font-family: $ff-roboto-regular
					font-size: $fs-regular
					color: $grey-200
					border-left: 1px solid $grey-600
					transition: .2s

					&:hover
						color: $text-lighter

						& svg
							fill: $primary

					+mq($from: "small")
						margin-top: 1.5rem
						margin-left: 0
						padding-left: 0
						border: 0

					& svg
						width: 1.25rem
						margin-top: 1px
						margin-right: .25rem
						fill: $grey-200
						transition: .2s

		&-credits
			display: flex
			align-items: center
			justify-content: center
			margin-top: 1rem
			font-size: $fs-smallest
			text-align: center
			color: $grey-400

			& svg
				width: .5rem
				margin-right: .35rem
				fill: $grey-400

#home
	&-container
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		display: flex
		flex-direction: column

		+mq($from: "medium")
			padding-top: 4rem

	&-news
		display: flex
		flex-direction: column
		margin-top: .5rem

		+mq($from: "medium")
			flex-direction: row
			align-items: center
			justify-content: flex-end
			margin-top: 0

		&-title
			font-family: $ff-roboto-black-italic
			font-size: $fs-large
			color: $primary

		&-input
			margin: 1rem 0
			padding: 1rem
			font-family: $ff-roboto-regular
			border: 0

			+mq($from: "medium")
				width: 250px
				margin: 0 0 0 1rem
				padding: .75rem

			&:placeholder
				color: $text-light

		&-button
			display: flex
			align-self: flex-end
			padding: .5rem 1.5rem
			font-family: $ff-roboto-condensed-bold
			font-size: $fs-small
			letter-spacing: 0.025rem
			color: $text-lighter
			background-color: $grey-900

			+mq($from: "medium")
				padding: .75rem 1.5rem

			&:hover
				background-color: $black

				& svg
					fill: $primary

			& svg
				height: 1.2rem
				width: 1.2rem
				margin-left: .75rem
				fill: $white
				transition: .2s

	&-image
		flex-grow: 1
		width: 100%
		max-width: 500px
		margin: 1rem auto 3rem
		background-image: url(/static/images/pindejo-lucas-beaufort.jpg)
		background-position: 50% 40%
		background-size: 140%
		background-repeat: no-repeat

		+mq($from: "medium")
			max-width: 600px


#quote
	position: absolute
	font-family: $ff-roboto-black-italic
	font-size: $fs-large
	text-align:left
	white-space: nowrap
	color: $primary
	transform: translateX(-100%)
	animation: linear marqueelike 10s infinite

	&:after
		content:attr(data-text)
		position:absolute
		white-space:nowrap

	&-container
		position: absolute
		bottom: 0
		left: 0
		right: 0
		display:flex
		align-items: center
		height: 3rem
		table-layout: fixed
		width 100%
		overflow: hidden
		background-color: $white

@keyframes marqueelike {
	0%, 100% {transform: translateX(0%)}
	99.99999% {transform: translateX(-100%)}
}


.header
	&-open
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		display: flex
		flex-direction: column
		background-color: $grey-900
		z-index: 1

		& #krak-logo-hand
			fill: $white

		& .header-top-burger-bar
			background-color: $white

	&-white
		& #krak-logo-hand
			fill: $white

		& .header-top-burger-bar
			background-color: $white

	&-nav
		&-main-item
			position: relative
			margin-bottom: 1.75rem

			+mq($from: "small")
				margin-bottom: 2rem

			&:last-child
				margin-bottom: 0

			&-app
				&-container
					position: relative
					display: flex
					flex-direction: column
					align-items: center

				&-container-open
					display: flex
					height: 27px

					& .header-nav-main-item
						padding-top: .25rem
						margin-bottom: 0

						&:first-child
							margin-right: 1rem

						&:last-child
							margin-left: 1rem

					&-closer
						position: absolute
						top: calc(50% - .4rem)
						right: -2rem
						height: 1rem
						width: 1rem

						& .icon-cross
							fill: $text-lighter

						+mq($from: "large")
							right: -3rem

					& .header-nav-main-item-link
						font-size: $fs-regular

				&-separator
					height: 80%
					margin: auto
					border-right: 1px solid $grey-600

			&-link
				font-family: $ff-roboto-condensed-bold
				font-size: $fs-larger
				color: $text-lighter

				+mq($from: "medium")
					font-size: $fs-large

				&:after
					content: ''
					position: absolute
					top: 10px
					left: 0
					height: 4px
					width: 100%
					margin: auto
					background-color: #ff0318
					transform: rotate(-6deg)
					opacity: 0
					transition: .2s

				&:hover
					&:after
						opacity: 1
				
				&-active
					&:after
						opacity: 1

		&-subnav
			&-link
				color: $text-lighter

			&-item
				height: 2rem
				width: 2rem
				margin-right: 1.5rem

				+mq($from: "medium")
					margin-right: 1rem

				& svg
					height: 1.75rem
					width: 1.75rem
					margin: auto
					fill: $white
					transition: .2s

					+mq($from: "medium")
						height: 1.5rem
						width: 1.5rem
				
				&:first-child
					margin-right: 1rem

					+mq($from: "medium")
						margin-right: .6rem

				&:last-child
					margin-right: 0

					& svg
						height: 1.5rem
						width: 1.5rem

						+mq($from: "medium")
							height: 1.4rem
							width: 1.4rem

				&:hover
					& svg
						fill: $primary

				&-link
					display: flex
					width: 100%
					height: 100%

	&-top
		&-burger-bar
			height: 3px
			background-color: $grey-900
			border-radius: 3px
			transition: .2s
