@import "./stylus-mq"
@import "./styleguide"

/* NEWS STYLES */

/* Articles */
#news-articles
		&-container
			background-color: $grey-300


/* Menu */
#news-menu
	&-container

	&-sources
		&-nav
			display: flex
			justify-content: space-between
			align-items: baseline
			padding-bottom: 1rem
			margin-bottom: 2rem
			border-bottom: 1px solid $grey-200

			&-title
				font-size: $fs-medium
				color: $grey-600

			&-toggle-button
				font-size: $fs-small
				color: $grey-400
