@import "./stylus-mq"
@import "./styleguide"

/* NEWS STYLES */

/* Articles */

.news-article
		margin-bottom: 2rem

		&:last-child
			margin-bottom: 0

		&-cover-img
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-color: blue
			border-radius: 0.25rem

			&-container
				position: relative
				padding-top: 45%
				margin-bottom: 1rem

				+mq($from: "small")
					padding-top: 56.25%

				+mq($from: "small")
					padding-top: 75%

		&-title
			font-family: $ff-roboto-black
			color: $grey-800

		&-details
			display: flex
			margin: .5rem 0 1rem
			font-size: $fs-smaller
			color: $grey-400

			&-source
				display: flex

				&-logo
					width: 1rem
					height 1rem
					margin-left: .2rem
					margin-right: .2rem
					background-color: green
					border-radius: 100%

			&-date
				color: $grey-600

		&-desc
			font-size: $fs-small
			line-height: 1.4
			color: $grey-600



/* Menu */
#news-menu
	&-container

	&-sources
		&-nav
			display: flex
			justify-content: space-between
			align-items: baseline
			padding-bottom: 1rem
			margin-bottom: 2rem
			border-bottom: 1px solid $grey-200

			&-title
				font-size: $fs-medium
				color: $grey-600

			&-toggle-button
				font-size: $fs-small
				color: $grey-400
