@import "./stylus-mq"
@import "./styleguide"

/* NEWS STYLES */

/* Articles */

.news-article
		margin-bottom: 2rem

		&:last-child
			margin-bottom: 0

		&-cover-img
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-color: blue
			border-radius: 0.25rem

			&-container
				position: relative
				padding-top: 45%
				margin-bottom: 1rem

				+mq($from: "small")
					padding-top: 56.25%

				+mq($from: "medium")
					padding-top: 75%

		&-title
			font-family: $ff-roboto-black
			color: $grey-800

		&-details
			display: flex
			margin: .5rem 0 1rem
			font-size: $fs-smaller
			color: $grey-400

			&-source
				display: flex

				&-logo
					width: 1rem
					height 1rem
					margin-left: .2rem
					margin-right: .2rem
					background-color: green
					border-radius: 100%

			&-date
				color: $grey-600

		&-desc
			font-size: $fs-small
			line-height: 1.4
			color: $grey-600



/* Menu */
#news-menu
	&-container
		z-index: 2

		+mq($from: "medium")
			padding-left: 3rem

	&-sources
		&-nav
			display: flex
			justify-content: space-between
			align-items: baseline
			padding-bottom: 1rem
			margin-bottom: 2rem
			border-bottom: 1px solid $grey-200

			&-title
				font-size: $fs-medium
				color: $grey-600

			&-toggle-button
				font-size: $fs-small
				color: $grey-400

				+mq($from: "medium")
					display: none

		&-container
			position: relative

		&-open
			position: absolute
			background-color: $grey-100

			&-request
				font-size: $fs-smaller
				color: $grey-600

				&-mail
					color: $secondary

			&-controls
				display: flex
				flex-direction: column
				align-items: flex-start
				margin: 2rem 0

.news-menu-sources-open
	display: none

	+mq($from: "medium")
			display: block

	&--open
		display: block

	&-control
		font-size: $fs-regular
		color: $grey-600
		&:first-child
			margin-bottom: 1rem

	&-option
		display: flex
		align-items: center
		margin-bottom: 1rem
		font-size: $fs-small
		color: $grey-300
		
		&:last-child
			margin-bottom: 0

		&-label
			display: flex
			align-items: center
			margin-left: 1rem

		&-logo
			width: 2rem
			height 2rem
			margin-right: .5rem
			background-color: red
			border-radius: 100%

		&--active
			& .news-menu-sources-open-option-name
				font-family: $ff-roboto-bold
				color: $grey-600
