@import "./stylus-mq"
@import "./styleguide"

/* PROFILE STYLES */

#profile
	&-container
		display: flex
		flex-direction: column
		height: 100%

		& .row
			flex-grow: 1

	//Main nav
	&-nav
		&-container
			display: flex
			flex-direction: column
			height: 100%

		&-header
			text-align: center

			+mq($from: "medium")
				text-align: left

			&-title
				margin-bottom: .5rem
				font-family: $ff-roboto-bold
				font-size: $fs-larger
				color: $grey-800

				+mq($from: "medium")
					font-size: $fs-large

			&-location
				color: $grey-500

				+mq($from: "medium")
					font-size: $fs-small

			&-memberid
				&-container
					margin-top: 2rem
					font-family: $ff-roboto-bold
					// font-size: $fs-small
					color: $grey-500

					+mq($from: "medium")
						font-size: $fs-small

				&-title
					margin-bottom: .5rem
					color: $grey-400


.profile
	&-nav
		//Main nav
		&-main
			display: flex
			flex-direction: column
			margin-top: 2rem
			border-radius: 0.25rem 
			border: 1px solid $grey-800

			+mq($from: "medium")
				max-width: 175px
				margin: auto 0
				border: 0

			&--open
				.profile-nav-main-item
					display: flex

			&-item
				order: 1
				display: none
				align-items: center
				padding: 1rem
				font-family: $ff-roboto-bold
				font-size: $fs-large
				color: $grey-400

				+mq($from: "medium")
					display: flex
					padding: 1rem 0

				&:hover
					color: $grey-800

				& svg
					display: block
					width: 1.5rem
					height: 1.5rem
					margin-left: auto

					+mq($from: "medium")
						display: none
				
				&--active
					display: flex
					order: 0
					color: $grey-800

					+mq($from: "medium")
						order: 1

					& svg
						display: block
						transform: rotate(90deg)

						+mq($from: "medium")
							transform: inherit

		// Secondary nav
		&-secondary
			display: none

			+mq($from: "medium")
				display: block

			&-item
				padding: .5rem 0

				&:last-child
					padding: 2rem 0 0

				& a, & button
					font-family: $ff-roboto-bold
					font-size: $fs-small
					color: $grey-500

					&:hover
						color: $grey-800

	// Section
	&-section
		padding: 2rem 0
		border-bottom: 1px solid $grey-200

		&:first-child
			padding-top: 4rem

		&:last-child
			border-bottom: 0

		+mq($from: "medium")
			padding: 4rem 0

			&:first-child
				padding-top: 0

		&-header
			display: flex
			flex-wrap: wrap
			align-items: center
			justify-content: space-between
			margin-bottom: 3rem

			&-main
				width: 100%

				+mq($from: "tiny")
					width: inherit

				&-title
					font-family: $ff-roboto-black
					font-size: 2rem

			& .edit-button
				margin-top: 2rem
				padding: .5rem .5rem

				+mq($from: "tiny")
					margin-top: 0
					margin-left: auto
					padding: .5rem 1rem

		&-line
			display: flex
			flex-direction: column

			+mq($from: "medium")
				flex-direction: row
				margin-bottom: 2rem

			&:last-child
				margin-bottom: 0

				& .profile-content-section-line-item:last-child
					margin-bottom: 0

		&-item
			margin-right: 4rem
			margin-bottom: 2rem

			+mq($from: "medium")
				margin-bottom: 0

			&:last-child
				margin-right: 0

			&-title
				margin-bottom: .5rem
				font-family: $ff-roboto-bold
				color: $grey-400

	&-address
		&-add
			display: flex
			align-items: center
			padding-bottom: 2rem
			font-size: $fs-medium
			color: $grey-800

			+mq($from: "medium")
				padding-bottom: 0

			&-icon
				position: relative
				display: flex
				align-items: center
				justify-content: center
				width: 1.5rem
				height: 1.5rem
				padding: .25rem
				margin-right: 1rem
				background-color: $grey-800
				border-radius: .25rem

				& svg
					width: 100%
					fill: $grey-100
					transform: rotate(45deg)

		&-nav
			display: flex
			align-items: center
			font-size: $fs-small

			&-item
				display: flex
				align-items: center
				padding-right: 1rem
				margin-right: 1rem
				border-right: 1px solid $grey-200

				&:last-child
					padding-right: 0
					margin-right: 0
					border: 0

				& button
					font-size: $fs-small

					&:hover
						text-decoration: underline

				&-status
					display: flex
					align-items: center

					& svg
						width: 1.5rem
						margin-right: .5rem
						padding: .2rem
						fill: $grey-100
						background-color: $grey-800
						border-radius: .25rem

					&--active
						& svg
							fill: #ffd400
							border-radius: 100%

		&-preview
			&-line
				margin-bottom: 1rem
				color: $grey-600

				&:last-child
					margin-bottom: 0
