@import "./stylus-mq"
@import "./styleguide"

/* PROFILE STYLES */

#profile
	&-container
		display: flex
		flex-direction: column
		height: 100%

		& .row
			flex-grow: 1

	//Main nav
	&-nav
		&-container
			display: flex
			flex-direction: column
			height: 100%

		&-header
			text-align: center

			+mq($from: "medium")
				text-align: left

			&-title
				margin-bottom: .5rem
				font-family: $ff-roboto-bold
				font-size: $fs-larger
				color: $grey-800

				+mq($from: "medium")
					font-size: $fs-large

			&-location
				color: $grey-500

				+mq($from: "medium")
					font-size: $fs-small

			&-memberid
				&-container
					margin-top: 2rem
					font-family: $ff-roboto-bold
					// font-size: $fs-small
					color: $grey-500

					+mq($from: "medium")
						font-size: $fs-small

				&-title
					margin-bottom: .5rem
					color: $grey-400


.profile
	//Main nav
	&-nav
		&-main
			display: flex
			flex-direction: column
			margin-top: 2rem
			border-radius: 0.25rem 
			border: 1px solid $grey-800

			+mq($from: "medium")
				max-width: 80%
				margin: auto 0
				border: 0

			&--open
				.profile-nav-main-item
					display: flex

			&-item
				order: 1
				display: none
				align-items: center
				padding: 1rem
				font-family: $ff-roboto-bold
				font-size: $fs-large
				color: $grey-400

				+mq($from: "medium")
					display: flex
					padding: 1rem 0

				&:hover
					color: $grey-800

				& svg
					display: block
					width: 1.5rem
					height: 1.5rem
					margin-left: auto

					+mq($from: "medium")
						display: none
				
				&--active
					display: flex
					order: 0
					color: $grey-800

					+mq($from: "medium")
						order: 1

					& svg
						display: block
						transform: rotate(90deg)

						+mq($from: "medium")
							transform: inherit

		// Secondary nav
		&-secondary
			display: none

			+mq($from: "medium")
				display: block

			&-item
				padding: .5rem 0

				&:last-child
					padding: 2rem 0 0

				& a, & button
					font-family: $ff-roboto-bold
					font-size: $fs-small
					color: $grey-500

					&:hover
						color: $grey-800

