/*
 * Color scheme
*/
$primary = #FF0318

$white = #ffffff
$black = #000000
$grey-lighter = #EBEBEB
$grey-darker = #1F1F1F

$text-lighter = #F2F2F2
$text-light = #B0B0B0


/*
 * Fonts scheme
*/

/* Family */
$ff-roboto-condensed-bold = 'roboto-condensed-bold', 'helvetica', 'Arial', sans-serif
$ff-roboto-regular = 'roboto-regular', 'helvetica', 'Arial', sans-serif
$ff-roboto-bold = 'roboto-bold', 'helvetica', 'Arial', sans-serif
$ff-roboto-black-italic = 'roboto-black-italic', 'helvetica', 'Arial', sans-serif

/* Size */
$fs-smallest = 0.625rem
$fs-smaller = 0.75rem
$fs-small = 0.875rem
$fs-regular = 1rem
$fs-medium = 1.125rem
$fs-large = 1.25rem
$fs-larger = 1.5rem
$fs-largest = 2.25rem
