@import "./stylus-mq"
@import "./styleguide"

/* VIDEOS STYLES */

/* Videos Sidebar */


/* Videos feed */
#videos-feed
	&-header
		margin-bottom: 4rem


/* Video card */
.video
	&-card
		font-family: $ff-roboto-black
		text-align: center

		&-container
			margin-bottom: 2rem

			+mq($from: "large")
				margin-bottom: 3rem

			&:last-child
				margin-bottom: 0

		&-title
			margin-top: 1rem
			font-size: $fs-medium

	&-featured
		position: relative

		&-title
			margin-top: 1rem
			font-size: $fs-larger
			text-align: left

			+mq($from: "small")
				font-size: $fs-larger2
